@use "../../../../styles/mixin" as mixin;

.carousel {
  position: relative;

  &-images {
    position: relative;
    @include mixin.flex;
    gap: 1em;
    transform: translateX(calc(var(--currIdx) * (-100% - 1rem)));
    transition: all 0.5s ease-in;

    img {
      min-width: 100%;
      height: var(--height);
    }
  }
}
