@use "../../../styles/mixin" as mixin;
@use "../../../styles/color" as color;

.preview {
  position: relative;
  margin: 1rem;
  overflow: hidden;

  &-tabs {
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
    z-index: 1;

    h2 {
      text-align: center;
      margin-bottom: 0.5em;
      font-size: 1.5rem;
    }

    ul {
      @include mixin.flex($justify: center);
      gap: 2em;
      cursor: pointer;
    }

    .tab {
      position: relative;
      padding-bottom: 0.5em;
      font-size: 1rem;
      font-weight: bold;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-bottom: 1.5px solid black;
        opacity: 0;
      }

      &.current::after {
        opacity: 1;
      }
    }
  }

  &-slider {
    position: relative;
    overflow: hidden;
  }

  &-images {
    @include mixin.flex;
    gap: 1em;
    margin-top: 1rem;
    transform: translateX(calc(var(--currIdx) * (-100% - 1rem)));
    transition: all 0.5s ease-in;

    img {
      display: block;
      min-width: 100%;
      height: 105vh;
      object-fit: cover;
    }
  }

  .more-info {
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
    background: linear-gradient(to right, rgba(211, 211, 211, 0.711), #334155);
    background-clip: text;
    --webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-size: 1.25rem;

    h2 {
      font-size: 2.5rem;
      color: #000;
    }

    button {
      margin-top: 1em;
      padding: 0.75em 1.5em;
      background-color: color.$button-color;
      color: #fff;
      border-radius: 2em;
      font-size: 0.875rem;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
