@use "../../../../styles/mixin" as mixin;

.main-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5%;
  @include mixin.flex($justify: center);
  flex-direction: column;

  &-header {
    font-size: 0.1.75rem;
  }
  &-title {
    font-size: 2.5rem;
  }
}
