@use "../../styles/color" as color;
@use "../../styles/mixin" as mixin;

.sign {
  padding: 48px 0;
  background-color: rgb(17, 17, 17);

  > div {
    @include mixin.flex;

    width: 640px;
    margin: 0 auto;
    padding: 60px 72px 48px;
    border-radius: 25px;
    background-color: rgb(23, 23, 23);

    section {
      margin: 0 auto;
      color: color.$input-color;

      h1 {
        margin-bottom: 20px;
        color: color.$bg-primary;
        font-size: 28px;
        font-weight: 300;
      }

      > span {
        font-size: 14px;
      }

      form {
        margin-top: 40px;

        label {
          display: block;
          position: relative;
          height: 36px;
          margin: 23px 0;
          font-size: 18px;

          input {
            width: 100%;
            margin-bottom: 10px;
            padding: 7px 0;
            border: none;
            border-bottom: 1px solid color.$input-color;
            background-color: rgb(23, 23, 23);
            color: color.$input-color;
            font-size: 18px;

            &:focus {
              border-bottom: 1px solid color.$color-primary;
              transition-duration: 0.3s;
              outline: none;
            }

            &::placeholder {
              opacity: 0;
            }
          }

          > span {
            position: absolute;
            top: 0;
            left: 0;
            transition-duration: 0.3s;
          }

          &:focus-within > span,
          input:not(:placeholder-shown) + span {
            font-size: 10px;
            transform: translateY(-10px);
            transition-duration: 0.3s;
          }
        }
      }
    }
  }
  &-signup-button {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;

    button {
      width: 140px;
      padding: 8px 20px;
      margin: 10px;
      background-color: rgb(93, 93, 93);
      border-radius: 25px;
      color: color.$bg-primary;
      text-align: center;
    }

    :last-child {
      background-color: color.$color-primary;
    }

    .active:hover {
      background-color: rgb(6, 105, 180);
      transition-duration: 0.3s;
    }
    .inactive {
      opacity: 0.5;
    }
  }

  &-signup-birth {
    display: flex;
    justify-content: space-between;

    label {
      width: 25%;
    }
  }

  &-signin-button {
    button {
      width: 280px;
      padding: 10px 20px;
      margin: 50px auto;
      background-color: rgb(93, 93, 93);
      border: 1px solid rgb(93, 93, 93);
      border-radius: 25px;
      color: color.$bg-primary;
      font-size: 15px;
      text-align: center;
      cursor: pointer;
    }

    .inactive {
      background-color: rgb(140, 140, 140);
      cursor: default;
      opacity: 0.3;
    }
  }
}
