@use "../../../styles/mixin" as mixin;
@use "../../../styles/color" as color;

.detail-carousel {
  position: relative;
  max-width: 37.5rem;

  .detail-navigator {
    position: absolute;
    top: 50%;
    left: -15%;
    @include mixin.flex;
    flex-direction: column;
    transform: translateY(-50%);
    z-index: 10;

    svg {
      font-size: 1.25rem;
      cursor: pointer;
    }

    img {
      display: block;
      width: 5rem;
      margin: 1em 0;
      border-radius: 1.5em;
      cursor: pointer;

      &.current {
        border: 2px solid color.$color-primary;
      }
    }
  }

  .detail-slider {
    @include mixin.flex;
    gap: 1em;
    transform: translateX(calc(var(--currIdx) * calc(-100% - 1em)));
    transition: all 0.5s ease-in;
    overflow: hidden;

    img {
      display: block;
      min-width: 100%;
      object-fit: cover;
    }
  }
}
