@use "../../../styles/color" as color;
@use "../../../styles/mixin" as mixin;

.main-story {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr;
  gap: 1em;
  place-items: center;
  padding: 2rem 1rem 4rem;

  .story-header {
    h2 {
      font-size: 2.75rem;
      text-align: left;
    }

    p {
      margin-top: 1.5em;
      font-size: 0.875rem;
      line-height: 1.2;
    }
  }

  .story-images {
    @include mixin.flex;
    overflow: hidden;
    transition: all 1s ease-in;

    img {
      min-width: 100%;
      min-width: 35rem;
      height: 25rem;
      border-radius: 1rem;
    }
  }

  .story-lists {
    .story {
      padding: 0.5em 1.5em;
      border-radius: 1.75em;
      background: linear-gradient(to right, #96999e, rgba(211, 211, 211, 0.711))
        no-repeat left / 0%;
      font-size: 1rem;
      font-weight: bold;
      transition: background 400ms ease-in, color 750ms ease-out;

      &:hover {
        background-size: 100%;
        color: color.$bg-gray;
      }

      &::after {
        content: "더 알아보기";
        display: block;
        margin-left: 2.25em;
        font-size: 0.675rem;
        font-weight: light;
        text-decoration: underline;
        opacity: 0;
        transition: opacity 200ms ease-in;
      }

      &:hover::after {
        opacity: 1;
      }
      & + & {
        margin-top: 0.25em;
      }
    }
  }
}
