@use "../../styles/mixin" as mixin;

.auth-header {
  @include mixin.flex;
  min-height: 90px;
  background-color: rgb(23, 23, 23);
  color: rgb(253, 253, 253);

  div {
    @include mixin.flex;
    width: 67vw;
    margin: 0 auto;
    font-weight: bold;
    font-size: 16px;

    h2 {
      margin-right: 14px;
    }
    span {
      font-size: 21px;
    }
  }
}
