@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

body {
  min-height: 100vh;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 18px;
  color: inherit;
  background-color: rgb(253, 253, 253);
}
