@use "src/styles/_mixin.scss";

.productFilter {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1vw 0.5vw;
  line-height: 30px;

  .product-type-filter {
    font-weight: bold;
    letter-spacing: -0.02em;
  }

  .expand-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    margin-left: 120px;
    padding: 5px 0;
    cursor: pointer;
    background-color: cyan;

    .common-button {
      height: 4px;
      width: 30px;
      border: 0;
      border-radius: 2px;
      background-color: #b3b0b0;
      cursor: pointer;
    }
  }

  // .expand-input {
  //   display: none;
  // }

  .filtering-list {
    height: 0;
    overflow: hidden;
    flex-basis: 100%;
    transition-property: height;
    transition-duration: 0.7s;
    transition-timing-function: linear;
    list-style: none;
    line-height: 34px;

    input {
      margin-left: 10px;
    }

    span {
      padding-left: 20px;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .expand-input:checked ~ .filtering-list {
    height: 500px;
    transition-property: height;
    transition-duration: 1.3s;
    transition-timing-function: linear;
  }

  .filtering-list {
    margin-top: 20px;
  }
}
