@use "../styles/mixin" as mixin;

.header {
  height: 70px;
  margin: 10px;
  font-weight: 500;

  &-inner {
    display: flex;
    justify-content: space-around;

    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 60%;
      font-size: 16px;

      &-menulist {
        @include mixin.flex;
      }

      &-icons {
        position: relative;
        font-size: 30px;

        > i {
          padding: 7px;
          margin: 0px 5px;
        }

        &-user {
          position: absolute;
          width: 70%;
          left: 80px;
          text-align: center;
          font-size: 14px;
          animation: slideUser 1s;
        }
      }
    }
  }
}

@keyframes slideUser {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
