@use "src/styles/common.scss";
@use "src/styles/reset.scss";
@use "src/styles/_mixin.scss";
@use "src/styles/_color.scss";

.products {
  .top-image-container {
    height: 300px;
    background-image: url("../../../public/images/products/gamsung_images/top-image.jpg");
    background-size: 600px; //임시 이미지
    background-position: 50% 50%; //임시 이미지
  }
  .buffer-layer {
    width: 100%;
    height: 43px;
    background: #f7f7f7;
  }

  .search-status-layer {
    width: 100%;
    height: 47px;
    line-height: 47px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    font-size: 13px;
    font-weight: bold;
    padding-left: 50px;

    span:nth-child(2) {
      padding-left: 8px;
      color: color.$color-primary;
    }
  }

  .main-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 90vw;
    margin: 0 auto;
  }

  .aside-filter-container {
    grid-column: 1/2;
  }

  .product-list-container {
    grid-column: 2/6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 2vw;
    padding: 1vw;
  }
}
