@use "../../../styles/mixin" as mixin;
@use "../../../styles/color" as color;

.product-info {
  width: 28rem;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 5px 0 lightgray;
  font-size: 0.75rem;

  svg {
    font-size: 1.25rem;
  }

  .info-header {
    @include mixin.flex;
    margin-bottom: 0.5rem;

    .sale {
      margin-right: auto;
      color: color.$color-primary;
      font-weight: bold;
    }
  }

  .serial-number {
    margin: 0.5em 0;
    color: color.$input-color;
  }

  .product-reviews {
    @include mixin.flex($justify: space-between);
    margin-bottom: 2.5em;

    .write-reviews {
      font-size: 0.875rem;
      text-decoration: underline;
    }
  }

  .price {
    &-info {
      @include mixin.flex($justify: space-between);
    }

    &-title {
      font-size: 0.975rem;
    }

    font-size: 1.125rem;
    font-weight: bold;
  }

  .detail-coupon {
    @include mixin.flex($justify: space-between);
    margin: 1.5em 0 2.5em;

    span {
      color: color.$color-primary;
      font-size: 0.875rem;
      font-weight: bold;
    }

    button {
      @include mixin.flex;
      gap: 0.5em;
      padding: 0.5em 1em;
      border: 1px solid color.$color-primary;
      border-radius: 1.25em;
      cursor: pointer;

      svg {
        background-color: color.$color-primary;
        color: color.$bg-primary;
        border-radius: 0.25em;
      }
    }
  }

  .detail-dropdown {
    .circle {
      display: inline-block;
      margin-right: 1em;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: var(--bg, #000);
    }
  }
}
